.root {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  min-width: 187px;
  background-color: var(--lau-secondary-color, #f2f6fc);
  /* border: 1px solid #e1e3e1; */
  border-left: none;
  border-top: none;
  border-bottom: none;
  height: 100%;
  padding: 10px 0;
}